@charset "utf-8";
/* CSS Document */

/* ==== TEXT ==== */

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* ==== LINK ==== */
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:  bold;
	color: #FF6600;
	text-decoration: none;
}

a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:  bold;
	color: #CC0066;
	text-decoration: none;
	text-align: left;
}

/* ==== BLOCKS ==== */
body {
	background: #3469FA;
	background-image: url('picts/back.jpg');
	position: absolute;
	margin:0;
	padding:0px;
	width: 100%;
	height: 100%;
}


textarea.bottextarea {
	width: 60%;
	height: 35%;
	box-sizing: border-box;
	padding: 7px;
	border: 1px solid #8CCFE6;
	background: #F5FCFF;
}

textarea { 
	border: hidden;
	resize: none;
	font-family: Arial;
	border-radius: 0px;
}


img {
	height: 55%;
	width:auto;
	max-width:100%;
	border: 4px solid #899DA3;
}


#main_panel {
  	transform: translateY(7.5%);
	margin: auto;
	padding:10px;
	width: 95%;
	height: 85%;
	background: #ffffff;
	border: 1px solid black;
}

#more_infos {
	position: absolute;
	width: 95%;
	height: 100%;
	top: 100%;
}

#litetalktracebox {
	transform: translateX(2.5%);
	width: 100%;
	height: 85%;
	text-align: center;
	border: 1px solid black;
}

#right_sub_panel {
	box-sizing: border-box;
	padding:10px;
	width: 49%;
	height: 89.5%;
	background: #EDEDED;
	background-image: url('picts/texture1.jpg');
	float: right;
}

#goal_list{
	height:auto;
	background:#F5FCFF;
	width:100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #8CCFE6;
	text-align:left;
}

#room_div {
	text-align: center; 
	height: 55%;
	padding: 10px;
	box-sizing: border-box; 
}

#room {
	height:75%;
	width:auto;
	max-width:80%;
	margin-top: 5px;
	border: 4px solid #FFB030;
}

#message_div {
	text-align: center; 
	height: 20%;
	padding: 5px;
	box-sizing: border-box;
}

#chat_box {
	padding: 10px;
	box-sizing: border-box;
	height: 9%;
	width: 100%;
	background-color: #333333;
}

#litetalkchatbox {
	width:100%;
	height:100%;
	padding-right: 7px;
	padding-left: 7px;
	border: none;
	box-sizing: border-box;
}

.margin_div{
	height: 1.3%;
}

.margin2_div{
	height: 5%;
}

.bot_div {
	box-sizing: border-box;
	padding: 10px;
	text-align:center;
	height: 29%;
	width: 49%;
	background-image: url('picts/texture2.png');
	border: 1px solid #cccccc;
}


/***********************************************************************/
/***********************************************************************/
/***********************************************************************/



/* end of CSS Document */
